<div class="layout-cart">
	<div id="layout-cart">
		<% page.posts.each( function( post, i ) { %>
			<div class="post" id="post">
				<a class="post-cover" href="<%- url_for(post.path) %>" title=" <%= post.title %> " target="_self">
					<%# image_tag(post.cover || theme.cover, {class: "lazy"}) %>
					<img class="lazy" src="<%= theme.lazy_image %>" data-src="<%= post.cover || theme.cover %>"/>
				</a>

				<div class="post-text">
					<p class="post-time">
						<%- post.date.locale("zh-cn").format('MMMM Do, YYYY') %>
					</p>	
					<h3 class="post-title" id="post-title-index">
						<a href="<%- url_for(post.path) %>" title="<%= post.title %>">							
							<%- partial('post/title', {post: post}) %>
						</a>
					</h3>
					<p class="post-content">
						<% if(post.content) { %>
							<%- truncate(strip_html(post.content), {length: theme.excerpt_cart, omission: '...'}) %>
						<% } else { %>
							<!--没有文章内容-->
							<%= __('no_content') %>
						<% } %>
					</p>
					<p class="post-meta">
						<%- partial('post-like',{post: post}) %>
					</p>
				</div>
			</div>
		<% }); %>
	</div>
	
	<%- partial('paginator', {type: "infiniteLoading"}) %>
</div>